.page {
    background: #262d2f;
}

.search-field {
    padding: 18px 0;
    max-width: calc(100% - 64px); /* width of right menu button */
}

.mdl-menu {
    min-width: 200px;
}

.mdl-list__item {
    font-size: 14px;
}

.mdl-navigation__link .material-icons {
    margin-right: 15px;
}

.mdl-dialog--large {
    width: 500px;
    max-width: 90%;
    box-sizing: border-box;
}

.mdl-textfield__input {
    -webkit-appearance: none;
    border-radius: 0;
}

.c-datepicker {
    min-height: 360px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transform: none;
    left: 0;
    margin: 0 0 20px;
}

.c-datepicker__header {
    display: none;
}

.mdl-layout__header {
    border-bottom: 1px solid #416c45;
    background: #373e41;
    background: -moz-radial-gradient(center, ellipse cover, #373e41 0%, #1e2224 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #373e41 0%,#1e2224 100%);
    background: radial-gradient(ellipse at center, #373e41 0%,#1e2224 100%);
}

.mdl-button--bordered.mdl-button--bordered { /* double class to cover mdl cheating */
    border: 1px solid #416c45;
    color: #416c45;
}

.mdl-button--bordered:hover {
    box-shadow: 0 0 10px 0 rgba(65, 108, 69, 0.5), inset 0 0 10px 0 rgba(65, 108, 69, 0.5);
    background: 0 0;
    border-color: #549655;
    color: #549655;
}

.container { /* fake element, just to align button on page */
    text-align: center;
    padding: 50px;
}

.mdl-button--bordered.mdl-button--red {
    border: 1px solid #843c46;
    color: #843c46;
}
.mdl-button--bordered.mdl-button--red:hover {
    box-shadow: 0 0 10px 0 rgba(132, 60, 70, 0.5), inset 0 0 10px 0 rgba(132, 60, 70, 0.5);
    background: 0 0;
    border-color: #a73945;
    color: #a73945;
}