.search-field {
    padding: 18px 0;
    max-width: calc(100% - 64px); /* width of right menu button */
}

.mdl-menu {
    min-width: 200px;
}

.mdl-list__item {
    font-size: 14px;
}

.mdl-navigation__link .material-icons {
    margin-right: 15px;
}

.mdl-dialog--large {
    width: 500px;
    max-width: 90%;
    box-sizing: border-box;
}

.mdl-textfield__input {
    -webkit-appearance: none;
    border-radius: 0;
}

.c-datepicker {
    min-height: 360px;
}

.c-datepicker__header {
    display: none;
}